@import './config';

.navbar {
   @include flexCenter(row);
}

.nav-center {
    width: 90vw;
    max-width: $max-width;
}

.nav-header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    padding: 0.15rem;
    background-color: $white-color;
    border: none;
}

.nav-btn i {
    font-size: 1.5rem;
    background-color: none;
    margin: 0.15rem 0.75rem;
    color: #5a98f2;
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    @include transition;
}

.show-links {
    height: 310px;
}

.nav-link {
    display: block;
    text-align: center;
    color: $grey-color;
    padding: 1rem 0;
    border-top: 1px solid $black-color;
    @include transition;
    &:hover {
            color: $black-color;
        }
}